
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
    color: #222;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: min(1150px, 92%);
    margin: auto;
}


/* =========================
   HEADER
========================= */

header {
    background: white;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    width: min(1150px, 92%);
    margin: auto;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: 800;
}

.logo span {
    color: #e92332;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #555;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #e92332;
}

/* =========================
   HERO
========================= */

.hero {
    min-height: 590px;

    background:
        radial-gradient(
            circle at 80% 50%,
            #ffe4e5 0,
            #fafafa 42%
        );

    display: flex;
    align-items: center;
    padding: 70px 8%;
    gap: 50px;
}

.hero-conteudo {
    flex: 1;
    max-width: 600px;
}

.hero h1 {
    font-size: clamp(42px, 5vw, 68px);
    line-height: 1.05;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #e92332;
}

.hero p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
    max-width: 520px;
    margin-bottom: 30px;
}

.hero-botoes {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.botao-principal {
    background: #e92332;
    color: white;
    padding: 15px 23px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.botao-principal:hover {
    transform: translateY(-2px);
    background: #c91826;
}

.botao-secundario {
    border: 1px solid #ddd;
    background: white;
    padding: 14px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.hero-imagem {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 440px;
    height: 440px;
    background: #e92332;
    border-radius: 50%;
    position: absolute;
}

.hero-imagem img {
    width: min(520px, 100%);
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
}

/* =========================
   TÍTULOS
========================= */

.titulo-secao {
    display: flex;
    justify-content: space-between;
    align-items: end;

    margin-bottom: 30px;
}

.titulo-secao span,
.sobre-conteudo > span,
.promocao span {
    color: #e92332;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}

.titulo-secao h2 {
    margin-top: 5px;
    font-size: 30px;
}

.titulo-secao a {
    color: #e92332;
    font-weight: bold;
}


/* =========================
   CATEGORIAS
========================= */

.categorias {
    padding: 80px 0;
    background: white;
}

.categorias-grid {
    display: grid;
    grid-template-columns:
        repeat(5, 1fr);
    gap: 15px;
}

.categoria-card {
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 25px 15px;
    text-align: center;
    transition: 0.25s;
    background: white;
}

.categoria-card:hover {
    transform: translateY(-5px);
    border-color: #e92332;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

.categoria-icone {
    font-size: 45px;
    margin-bottom: 12px;
}

.categoria-card h3 {
    font-size: 16px;
    margin-bottom: 6px;
}

.categoria-card p {
    color: #888;
    font-size: 13px;
}


/* =========================
   MAIS PEDIDOS
========================= */

.mais-pedidos {
    padding: 80px 0;
}

.produtos-grid {
    display: grid;
    grid-template-columns:
        repeat(3, 1fr);
    gap: 18px;
}

.produto-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #eee;
    transition: 0.25s;
}

.produto-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.produto-imagem {
    height: 190px;
    position: relative;
    overflow: hidden;
}

.produto-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.produto-card:hover img {
    transform: scale(1.05);
}

.produto-conteudo {
    padding: 18px;
}

.produto-conteudo h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.produto-conteudo p {
    color: #777;
    font-size: 13px;
    line-height: 1.5;
    min-height: 58px;
}

.produto-final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.produto-final strong {
    font-size: 18px;
}

.adicionar {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff0f0;
    color: #e92332;
    border-radius: 7px;
    font-size: 23px;
    font-weight: bold;
}

/* =========================
   SOBRE
========================= */

.sobre {
    padding: 80px 0;

    background: white;
}

.sobre-grid {
    display: grid;
    grid-template-columns:
        1fr 1fr;
    gap: 70px;
    align-items: center;
}

.sobre-imagem img {
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-radius: 15px;
}

.sobre-conteudo h2 {
    font-size: 40px;

    line-height: 1.1;

    margin: 10px 0 20px;
}

.sobre-conteudo > p {
    color: #666;

    line-height: 1.7;

    margin-bottom: 12px;
}

.beneficios {
    margin-top: 25px;

    display: flex;
    flex-direction: column;

    gap: 12px;
}

.beneficios div {
    display: flex;

    align-items: center;

    gap: 12px;
}

.beneficios strong {
    width: 40px;
    height: 40px;

    display: flex;

    align-items: center;
    justify-content: center;

    background: #fff0f0;

    border-radius: 8px;
}

.beneficios span {
    font-weight: bold;
}


/* =========================
   INFORMAÇÕES
========================= */

.informacoes {
    padding: 45px 0;

    background: #f5f5f5;
}

.informacoes-grid {
    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 30px;
}

.informacoes-grid > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.informacoes-grid > div > span {
    font-size: 30px;
}

.informacoes-grid h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.informacoes-grid p {
    color: #777;
    font-size: 13px;
}


/* =========================
   FOOTER
========================= */

footer {
    background: #171717;
    color: white;
}

.footer-conteudo {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-conteudo p {
    color: #aaa;
}

.redes {
    color: #aaa;
    font-size: 14px;
}

.copyright {
    border-top: 1px solid #333;
    text-align: center;
    padding: 18px;
    color: #777;
    font-size: 12px;
}


/* =========================
   RESPONSIVO
========================= */

@media (max-width: 900px) {

    nav {
        display: none;
    }

    .hero {
        flex-direction: column;

        text-align: center;

        padding: 60px 5%;
    }

    .hero-conteudo {
        max-width: 700px;
    }

    .hero p {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-botoes {
        justify-content: center;
    }

    .hero-info {
        justify-content: center;
    }

    .hero-imagem {
        width: 90%;
    }

    .categorias-grid {
        grid-template-columns:
            repeat(3, 1fr);
    }

    .produtos-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .sobre-grid {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .informacoes-grid {
        grid-template-columns: 1fr;
    }

}


@media (max-width: 600px) {

    .navbar {
        height: 65px;
    }

    .logo {
        font-size: 18px;
    }

    .hero {
        padding-top: 40px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 16px;
    }

    .hero-botoes {
        flex-direction: column;
    }

    .botao-principal,
    .botao-secundario {
        width: 100%;
        text-align: center;
    }

    .circulo {
        width: 280px;
        height: 280px;
    }

    .categorias,
    .mais-pedidos,
    .sobre {
        padding: 55px 0;
    }

    .titulo-secao {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .titulo-secao h2 {
        font-size: 26px;
    }

    .categorias-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .produtos-grid {
        grid-template-columns: 1fr;
    }

    .sobre-conteudo h2 {
        font-size: 32px;
    }

    .sobre-imagem img {
        height: 300px;
    }

    .footer-conteudo {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

